@model IEnumerable<DoAn_CoSo2.Models.SanPham>

@{
    ViewBag.Title = "LaySPTheoLoai";
    Layout = "~/Views/Shared/_LayoutSanPham.cshtml";
}

<div class="row">
    @foreach (var SPTheoLoai in Model)
    {
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="product">
                <a href="#" class="img-prod">
                    <img class="img-fluid" src="~/img_sanpham/@SPTheoLoai.Hinhanh" alt="@SPTheoLoai.Ten_SP">
                    @*<span class="status">30%</span>*@
                    <div class="overlay"></div>
                </a>
                <div class="text py-3 pb-4 px-3 text-center">
                    <h3><a href="#">@SPTheoLoai.Ten_SP</a></h3>
                    <div class="d-flex">
                        <div class="pricing">
                            @*<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>*@
                            <p class="price"><span>@SPTheoLoai.Giaban VND</span>
                        </div>
                    </div>
                    <div class="bottom-area d-flex px-3">
                        @if (Session["hotenkh"] != null)
                        {
                            <a href="@Url.Action("LayCT_SanPham", "SanPham" , new {id=SPTheoLoai.Id_SP})" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                <span><i class="ion-ios-menu"></i></span>
                            </a>
                            <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                <span><i class="ion-ios-cart"></i></span>
                            </a>
                            <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                <span><i class="ion-ios-heart"></i></span>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("DangNhap", "NguoiDung")" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                <span><i class="ion-ios-menu"></i></span>
                            </a>
                            <a href="@Url.Action("DangNhap", "NguoiDung")" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                <span><i class="ion-ios-cart"></i></span>
                            </a>
                            <a href="@Url.Action("DangNhap", "NguoiDung")" class="heart d-flex justify-content-center align-items-center ">
                                <span><i class="ion-ios-heart"></i></span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

